@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Inter', sans-serif;
  }
}

.marquee-container {
  display: flex;
  overflow: hidden;
}

.marquee {
  animation: marquee-scroll 25s linear infinite;
}

@keyframes marquee-scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

::-webkit-scrollbar {
  width: 3px;
  background: black;
}

::-webkit-scrollbar-thumb {
  background-color: gray; 
}

::-webkit-scrollbar-thumb:hover {
  background: white;
}


